@charset "UTF-8";
/* couleur */
/* Taille des polices */
/* Bouton Explorer nos restaurants */
.btn-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15em;
  background: #9356DC;
  border-radius: 50px;
  padding: 20px;
  margin: 20px auto;
  font-size: 1.2em;
}

.btn-explorer:hover {
  cursor: pointer;
}

/* Bouton commander */
.btn-commander {
  background: #9356DC;
  border-radius: 50px;
  font-size: 1.2em;
  position: relative;
  top: 24em;
  right: 42em;
  height: 3.5em;
  padding: 1em 5em 1em 5em;
}

.btn-commander:hover {
  cursor: pointer;
}

header {
  padding: 0;
  margin: 0;
  /* logo */
  /* Flèche retour */
  /* Lieu */
  /* Icone lieu */
  /* Paragraphe lieu */
  /* Réservation */
  /* Réservation titre */
  /* Réservation paragraphe */
  /* Image menu */
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5em;
  margin-bottom: 0.5em;
}

header .logo img {
  height: 45px;
}

header .fa-arrow-left {
  color: black;
  font-size: 2em;
  position: absolute;
  top: 1em;
  left: 9em;
}

header .lieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DCDCDC;
  margin-top: 2em;
  height: 8em;
  width: 100%;
  -webkit-box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.3);
}

header .fa-map-marker-alt {
  margin-right: 1.2em;
}

header .lieu p {
  font-size: 1.5em;
}

header .reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F2F2;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 3em;
}

header .reservation h2 {
  font-size: 2em;
  padding-bottom: 0.7em;
  width: 50%;
}

header .reservation p {
  font-size: 1.2em;
  padding-bottom: 0.7em;
}

header .image img {
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 1em;
  height: 18em;
  width: 100%;
}

footer {
  padding: 10px;
  background-color: #353535;
  color: white;
}

footer .logo img {
  height: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  padding-left: 15px;
  padding-top: 15px;
}

footer .couverts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .double-mains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .fa-utensils {
  margin-right: 15px;
}

footer .fa-hands-helping {
  margin-right: 10px;
}

footer ul {
  padding: 10px;
}

footer li {
  list-style-type: none;
  padding: 5px;
}

footer a {
  color: white;
  text-decoration: none;
}

/*Menu */
.menu {
  background-color: #DCDCDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-bottom: 9em;
}

.menu .titre {
  width: 100%;
  position: absolute;
  top: 21em;
}

.menu .titre h1 {
  background-color: #DCDCDC;
  padding: 0.7em;
  border-radius: 2em 2em 0 0;
  padding-left: 18em;
}

.menu .titre .coeur {
  position: absolute;
  top: 2em;
  right: 30em;
}

.menu .les-entrees {
  padding: 0;
}

.menu .les-entrees h2 {
  margin-left: 1.5em;
  padding-bottom: 1em;
}

.menu .les-entrees .entree {
  width: 22em;
  margin-left: 2em;
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0.3em 0.8em 0.1em black;
          box-shadow: 0 0.3em 0.8em 0.1em black;
  cursor: pointer;
}

.menu .les-entrees .entree .contenu-entree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24em;
}

.menu .les-entrees .entree .contenu-entree .texte {
  padding-right: 5em;
}

.menu .les-entrees .entree .contenu-entree .texte h3 {
  margin-bottom: 0.5em;
}

.menu .les-entrees .entree .contenu-entree .texte p {
  font-size: 1em;
}

.menu .les-entrees .entree .contenu-entree .texte .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .les-entrees .entree .choix {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .les-entrees .entree .choix .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu .les-plats {
  padding: 0;
}

.menu .les-plats h2 {
  margin-left: 1em;
  padding-bottom: 1em;
}

.menu .les-plats .plat {
  width: 24em;
  margin-left: 1.2em;
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0.3em 0.8em 0.1em black;
          box-shadow: 0 0.3em 0.8em 0.1em black;
  cursor: pointer;
}

.menu .les-plats .plat .contenu-plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26em;
}

.menu .les-plats .plat .contenu-plat .texte {
  padding-right: 5em;
}

.menu .les-plats .plat .contenu-plat .texte h3 {
  margin-bottom: 0.5em;
}

.menu .les-plats .plat .contenu-plat .texte p {
  font-size: 1em;
}

.menu .les-plats .plat .contenu-plat .texte .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .les-plats .plat .choix {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .les-plats .plat .choix .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu .les-desserts {
  padding: 0;
}

.menu .les-desserts h2 {
  margin-left: 1em;
  padding-bottom: 1em;
}

.menu .les-desserts .dessert {
  width: 25em;
  margin-left: 1.2em;
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0.3em 0.8em 0.1em black;
          box-shadow: 0 0.3em 0.8em 0.1em black;
  cursor: pointer;
}

.menu .les-desserts .dessert .contenu-dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26em;
}

.menu .les-desserts .dessert .contenu-dessert .texte {
  padding-right: 5em;
}

.menu .les-desserts .dessert .contenu-dessert .texte h3 {
  margin-bottom: 0.5em;
}

.menu .les-desserts .dessert .contenu-dessert .texte p {
  font-size: 1em;
}

.menu .les-desserts .dessert .contenu-dessert .texte .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .les-desserts .dessert .choix {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu .les-desserts .dessert .choix .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.fonctionnement {
  margin-top: 2em;
  margin-bottom: 2em;
}

.fonctionnement h2 {
  padding-top: 1em;
  padding-left: 0.8em;
}

.fonctionnement .contenu-fct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
}

.fonctionnement .choisir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  border-radius: 1.4em;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 0 0.6em 0.2em #DCDCDC;
          box-shadow: 0 0 0.6em 0.2em #DCDCDC;
  padding: 1.5em 5em 1.5em 0.2em;
}

.fonctionnement .composer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  border-radius: 1.4em;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 0 0.6em 0.2em #DCDCDC;
          box-shadow: 0 0 0.6em 0.2em #DCDCDC;
  padding: 1.5em 5.5em 1.5em 1.5em;
}

.fonctionnement .deguster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  border-radius: 1.4em;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0 0 0.6em 0.2em #DCDCDC;
          box-shadow: 0 0 0.6em 0.2em #DCDCDC;
  padding: 1.5em 5em 1.5em 0.2em;
}

.fonctionnement .contenu-fct p {
  font-weight: bold;
}

.fonctionnement .fas {
  padding: 0 1em 0 1em;
}

.fonctionnement .nombre {
  background: #9356DC;
  border-radius: 50%;
  padding: 0.5em 0.7em;
  margin-right: 0.8em;
  margin-left: -1rem;
  color: white;
}

.fonctionnement .composer .nombre {
  margin-left: -2.5em;
}

.fonctionnement .fa-mobile-alt {
  color: gray;
}

.fonctionnement .fa-list-ul {
  color: gray;
}

.fonctionnement .fa-store {
  color: #9356DC;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F2F2F2;
  padding-bottom: 3em;
  padding-top: 1em;
}

.restaurants h2 {
  padding-top: 1em;
  padding-left: 0.8em;
  padding-bottom: 2em;
}

.restaurants .divers-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants .menu-la-palette-du-gout a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-decoration: none;
  color: black;
  margin-bottom: 3em;
}

.restaurants .menu-la-palette-du-gout img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80em;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .menu-la-note-enchantee a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-decoration: none;
  color: black;
  margin-bottom: 3em;
}

.restaurants .menu-la-note-enchantee img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80em;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .menu-a-la-francaise a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-decoration: none;
  color: black;
  margin-bottom: 3em;
}

.restaurants .menu-a-la-francaise img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80em;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .menu-le-delice-des-sens a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-decoration: none;
  color: black;
  margin-bottom: 3em;
}

.restaurants .menu-le-delice-des-sens img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80em;
  border-radius: 1em 1em 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 15em;
}

.restaurants .texte-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background-color: white;
  border-radius: 0 0 1em 1em;
  -webkit-box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.2);
}

.restaurants .nouveau {
  background-color: #99E2D0;
  font-weight: bold;
  color: #278870;
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0.7em;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}

/* Définition des polices personnalisées */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.8em;
}
/*# sourceMappingURL=style.css.map */