/* Partie Fonctionnement */

#fonctionnement
{    
    margin-top: 2em;
    margin-bottom: 2em;
    
    & h2
    {
        padding-top: 1em;
        padding-left: 1em;       
    }

/* Fonctionnement Navigateur */    

    & .contenu-fct
    {
        display: flex;
        justify-content: space-around;    
        align-items: center;  
        padding-top: 2em;
    }

/* Navigateur Choisir, Composer, Déguster */    

    & .navigateur
    {
        @include navigateur;
        padding: 1.5em 5em 1.5em 0.2em;
    }

/* Navigateur Composer */  

    & .composer
    {
        padding: 1.5em 5.5em 1.5em 1.5em;
    }

/* Navigateur :hover */  

    & .navigateur:hover
    {
        background-color: #E6E6FA; 
        cursor: pointer;

/* Logo boutique */ 

        & .fas
        {
            color:$primary-color;
        }
    }   

/* Paragraghe Menu */ 

    & .contenu-fct p
    {
        font-weight: bold;
    }

/* Logo Navigateur */ 

    & .fas
    {
        padding: 0 1em 0 1em;
    }

/* Nombre Navigateur */ 

    & .nombre
    {
       @include nombre;
    }

/* Nombre Composer */ 

    & .composer .nombre
    {
        margin-left: -2.5em;
    }

/* Logo Mobile + Logo Triple Traits */ 
    
    & .fa-mobile-alt, .fa-list-ul, .fa-store
    {
        color:gray;
    }


}

/* Média Queries */

/* Desktop */

/* Ecrans entre 1025 px et 1350 px */

/* Partie Fonctionnement */

@media screen and (min-width: 1025px) and (max-width: 1350px)
{

    #fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 0.7em;
            padding-left: 0.8em;
        }

/* Fonctionnement Navigateur */    

        & .contenu-fct
        {
            display: flex;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 1.5em;
        }

/* Navigateur Choisir, Composer, Déguster */    

        & .navigateur
        {
            @include navigateur;
            padding: 1.5em 1.5em 1.5em 1.5em;
        }

/* Navigateur Composer */  

        & .composer
        {
            padding: 1.5em 2em 1.5em 1.5em;
        }

/* Paragraghe Menu */ 

        & .contenu-fct p
        {
            font-weight: bold;
        }

/* Logo Navigateur */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Navigateur */ 

        & .nombre
        {
            @include nombre;
        }

/* Nombre Composer */ 

        & .composer .nombre
        {
            margin-left: -2.5em;
        }
    }
}

/* Tablette */

/* Ecrans entre 769 px et 1024 px */

/* Partie Fonctionnement */

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    #fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 0.5em;
            padding-left: 0.8em;
        }

/* Fonctionnement Navigateur */    

        & .contenu-fct
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 1.5em;
        }

/* Navigateur Choisir, Composer, Déguster */    

        & .navigateur
        {
            @include navigateur;
            padding: 1.5em 3.5em 1.5em 1.5em;
            width: 70%;
        }

/* Navigateur Composer */  

        & .composer
        {
            padding: 1.5em 4em 1.5em 1.5em;
        }

/* Paragraghe Navigateur */ 

        & .contenu-fct p
        {
            font-weight: bold;
        }

/* Logo Navigateur */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Navigateur */ 

        & .nombre
        {
            @include nombre;
        }

/* Nombre Choisir + Composer */ 

        & .navigateur .nombre
        {
            margin-left: -2.5em;
        }     
    }
}

/* Mobile */

/* Ecrans entre 380 px et 768 px */

/* Partie Fonctionnement */

@media screen and (min-width: 380px) and (max-width: 768px)
{
    #fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 0.5em;
            padding-left: 0.8em;
        }

/* Fonctionnement Navigateur */    

        & .contenu-fct
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 2.5em;
        }

/* Navigateur Choisir, Composer, Déguster */   

        & .navigateur
        {
            @include navigateur;
            padding: 1.5em 4em 1.5em 1.5em;
            width: 65%;
        }

/* Navigateur Composer */  

        & .composer
        {
            padding: 1.5em 4em 1.5em 1.5em;
        }

/* Paragraghe Navigateur */ 

        & .contenu-fct p
        {
            font-weight: bold;
        }

/* Logo Navigateur */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Navigateur */ 

        & .nombre
        {
            @include nombre;
        }

/* Nombre Choisir + Composer */ 

        & .navigateur .nombre
        {
            margin-left: -2.5em;
        }  
    }
}

/* Mini-Mobile */

/* Ecrans entre 300 px et 379 px */

@media screen and (min-width: 300px) and (max-width: 379px)
{
    #fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 0.5em;
            padding-left: 0.8em;
        }

/* Fonctionnement Navigateur */    

        & .contenu-fct
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 2.5em;
        }

/* Navigateur Choisir, Composer, Déguster */   

        & .navigateur
        {
            @include navigateur;
            padding: 1.5em 4em 1.5em 1.5em;
            width: 50%;
        }

/* Navigateur Composer */  

        & .composer
        {
            padding: 1.5em 4.5em 1.5em 1.5em;
        }

/* Paragraghe Navigateur */ 

        & .contenu-fct p
        {
            font-weight: bold;
        }

/* Logo Navigateur */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Navigateur */ 

        & .nombre
        {
            @include nombre;
        }

/* Nombre Choisir + Composer */ 

        & .navigateur .nombre
        {
            margin-left: -2.5em;
        }  
    }
}
