/* Partie Fonctionnement */

.fonctionnement
{    
    margin-top: 2em;
    margin-bottom: 2em;
    & h2
    {
        padding-top: 1em;
        padding-left: 24em;
    }

/* Fonctionnement Navigateur */    

    & .contenu-fct
    {
        display: flex;
        justify-content: space-around;    
        align-items: center;  
        padding-top: 2em;
    }

/* Navigateur Choisir, Composer, Déguster */    

    & .navigateur
    {
        display:flex;
        align-items: center;
        background: $background-color;
        border-radius: 1.4em;
        margin-bottom: 1.5em;
        box-shadow: 0 0 0.6em 0.2em $grey;
        padding: 1.5em 5em 1.5em 0.2em;
    }

/* Navigateur Composer */  

    & .composer
    {
        padding: 1.5em 5.5em 1.5em 1.5em;
    }

/* Navigateur Composer */  

    & .deguster
    {
        background-color: $grey;
    }   

/* Paragraghe Menu */ 

    & .contenu-fct p
    {
        font-weight: bold;
    }

/* Logo Navigateur */ 

    & .fas
    {
        padding: 0 1em 0 1em;
    }

/* Nombre Navigateur */ 

    & .nombre
    {
        background: $primary-color;
        border-radius: 50%;
        padding: 0.5em 0.8em 0.5em 0.8em;
        margin-right: 0.8em;
        margin-left: -1rem;
        color:$white;
    }

/* Nombre Composer */ 

    & .composer .nombre
    {
        margin-left: -2.5em;
    }

/* Logo Mobile + Logo Triple Traits */ 
    
    .fa-mobile-alt,  .fa-list-ul
    {
        color:gray;
    }

/* Logo boutique */ 

    .fa-store
    {
        color:$primary-color;
    }
}

/* Média Queries */

/* Desktop */

/* Ecrans entre 1025 px et 1350 px */

/* Partie Fonctionnement */

@media screen and (min-width: 1025px) and (max-width: 1350px)
{

    .fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 0.7em;
            padding-left: 0.8em;
        }

/* Fonctionnement Navigateur */    

        & .contenu-fct
        {
            display: flex;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 1.5em;
        }

/* Navigateur Choisir, Composer, Déguster */    

        & .navigateur
        {
            display:flex;
            align-items: center;
            background: $background-color;
            border-radius: 1.4em;
            margin-bottom: 1.5em;
            box-shadow: 0 0 0.6em 0.2em $grey;
            padding: 1.5em 1.5em 1.5em 1.5em;
        }

/* Navigateur Composer */  

        & .composer
        {
            padding: 1.5em 2em 1.5em 1.5em;
        }

/* Paragraghe Menu */ 

        & .contenu-fct p
        {
            font-weight: bold;
        }

/* Logo Navigateur */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Navigateur */ 

        & .nombre
        {
            background: $primary-color;
            border-radius: 50%;
            padding: 0.5em 0.8em 0.5em 0.8em;
            margin-right: 0.8em;
            margin-left: -1rem;
            color:$white;
        }

/* Nombre Composer */ 

        & .composer .nombre
        {
            margin-left: -2.5em;
        }
    }
}

/* Tablette */

/* Ecrans entre 769 px et 1024 px */

/* Partie Fonctionnement */

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 0.5em;
            padding-left: 0.8em;
        }

/* Fonctionnement Navigateur */    

        & .contenu-fct
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 1.5em;
        }

/* Navigateur Choisir, Composer, Déguster */    

        & .navigateur
        {
            display:flex;
            align-items: center;
            background: $background-color;
            border-radius: 1.4em;
            margin-bottom: 1.5em;
            box-shadow: 0 0 0.6em 0.2em $grey;
            padding: 1.5em 3.5em 1.5em 1.5em;
        }

/* Navigateur Composer */  

        & .composer
        {
            padding: 1.5em 4em 1.5em 1.5em;
        }

/* Paragraghe Navigateur */ 

        & .contenu-fct p
        {
            font-weight: bold;
        }

/* Logo Navigateur */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Navigateur */ 

        & .nombre
        {
            background: $primary-color;
            border-radius: 50%;
            padding: 0.5em 0.8em 0.5em 0.8em;
            margin-right: 0.8em;
            margin-left: -1rem;
            color:$white;
        }

/* Nombre Choisir + Composer */ 

        & .navigateur .nombre
        {
            margin-left: -2.5em;
        }     
    }
}

/* Mobile */

/* Ecrans en-dessous de 768 px */

/* Partie Fonctionnement */

@media screen and (max-width: 768px)
{
    .fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 0.5em;
            padding-left: 0.8em;
        }

/* Fonctionnement Navigateur */    

        & .contenu-fct
        {
            display: flex;
            flex-direction: column;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 2.5em;
        }

/* Navigateur Choisir, Composer, Déguster */   

        & .navigateur
        {
            display:flex;
            align-items: center;
            background: $background-color;
            border-radius: 1.4em;
            margin-bottom: 1.5em;
            box-shadow: 0 0 0.6em 0.2em $grey;
            padding: 1.5em 4em 1.5em 1.5em;
        }

/* Navigateur Composer */  

        & .composer
        {
            padding: 1.5em 4.5em 1.5em 1.5em;
        }

/* Paragraghe Navigateur */ 

        & .contenu-fct p
        {
            font-weight: bold;
        }

/* Logo Navigateur */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Navigateur */ 

        & .nombre
        {
            background: $primary-color;
            border-radius: 50%;
            padding: 0.5em 0.8em 0.5em 0.8em;
            margin-right: 0.8em;
            margin-left: -1rem;
            color:$white;
        }

/* Nombre Choisir + Composer */ 

        & .navigateur .nombre
        {
            margin-left: -2.5em;
        }  
    }
}