/* Partie Restaurants */ 

#restaurants
{
    @include restaurants;

/* Titre Restaurants */ 

    & h2
    {
        padding-top: 1em;
        padding-left: 1em;
        padding-bottom: 1em;
    }

/* Les Divers Menus */ 

    & .divers-menus
    {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

/* Ancre des Menus */ 

    & .le-menu a
    {
        @include le-menu;  
        margin-bottom: 2em;
    }

/* Image des Menus */

    & .le-menu img
    {
        display: flex;
        width: 19em;
        height: 15em;  
        border-radius: 1em 1em 0 0;
        object-fit: cover;
    }

/* Texte + Coeur */

    & .texte-coeur
    {
        @include texte-coeur;
    }

/* Paragraphe Nouveau */

    & .nouveau
    {
        @include nouveau;   
    }
}

/* Média Queries */

/* Desktop */

/* Ecrans entre 1025 px et 1350 px */

/* Partie Restaurants */ 

@media screen and (min-width: 1025px) and (max-width: 1350px)
{
    #restaurants
    {
        @include restaurants;

/* Titre Restaurants */ 

        & h2
        {
            padding-top: 1em;
            padding-left: 0.8em;
            padding-bottom: 1em;
        }

/* Les Divers Menus */ 

        & .divers-menus
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

/* Ancre des Menus */ 

        & .le-menu a
        {
            @include le-menu; 
            margin-bottom: 3em;
        }

/* Image des Menus */

        & .le-menu img
        {
            display: flex;
            width: 63em;
            border-radius: 1em 1em 0 0;
            object-fit:cover;
        }

/* Texte + Coeur */

        & .texte-coeur
        {
            @include texte-coeur;
        }

/* Paragraphe Nouveau */

        & .nouveau
        {
            @include nouveau;      
        }
    }
}

/* Tablette */

/* Ecrans entre 769 px et 1024 px */

/* Partie Restaurants */ 

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    #restaurants
    {
        @include restaurants;

/* Titre Restaurants */ 

        & h2
        {
            padding-top: 1em;
            padding-left: 0.8em;
            padding-bottom: 1em;
        }

/* Les Divers Menus */ 

        & .divers-menus
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

/* Ancre des Menus */ 

        & .le-menu a
        {
            @include le-menu; 
            margin-bottom: 3em;
        }

/* Image des Menus */

        & .le-menu img
        {
            display: flex;
            width: 45em;
            height: 15em;  
            border-radius: 1em 1em 0 0;
            object-fit:cover;
        }

/* Texte + Coeur */

        & .texte-coeur
        {
            @include texte-coeur;
        }

/* Paragraphe Nouveau */

        & .nouveau
        {
            @include nouveau;     
        }
    }
}

/* Mobile */

/* Ecrans en-dessous de 768 px */

/* Partie Restaurants */ 

@media screen and (max-width: 768px)
{
    #restaurants
    {
        @include restaurants;

/* Titre Restaurants */ 

        & h2
        {
            padding-top: 1em;
            padding-left: 0.8em;
            padding-bottom: 1em;
        }

/* Les Divers Menus */ 

        & .divers-menus
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

/* Ancre des Menus */ 

        & .le-menu a
        {
            @include le-menu; 
            margin-bottom: 3em;
        }

/* Image des Menus */

        & .le-menu img
        {
            display: flex;
            width: 25em;
            height: 11em;
            border-radius: 1em 1em 0 0;
            object-fit:cover;
        }

/* Texte + Coeur */

        & .texte-coeur
        {
            @include texte-coeur;
        }

/* Paragraphe Nouveau */

        & .nouveau
        {
            @include nouveau;    
        }
    }
}