/* Média Queries */

/* Desktop */

/* Ecrans entre 1025 px et 1300 px */

/* En-tête */

@media screen and (min-width: 1025px) and (max-width: 1300px)
{
    header
    {
        padding: 0;
        margin: 0;

/* logo */

        & .logo
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1.5em;
            margin-bottom: 0.5em;          
        }
        & .logo img
        {
            height: 45px;
        }

/* Flèche retour */

        & .fa-arrow-left
        {
            color: $black;
            font-size: 2em;
            position: absolute;
            top: 1em;
            left: 9em;
        }

/* Lieu */

        & .lieu
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $grey;
            margin-top: 2em;
            height: 4em;
            width: 100%;
            box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.3);
        }

/* Icone lieu */

        & .fa-map-marker-alt
        {
            margin-right: 1.2em;
        }

/* Paragraphe lieu */

        & .lieu p
        {
            font-size: 1.5em;
        }

/* Réservation */

        & .reservation
        {
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            background: $background-color;
            width: 100%;
            padding-top: 1.5em;
            padding-bottom: 3em;
        }
        
/* Réservation titre */

        & .reservation h2
        {
            font-size: 1.8em;
            padding-bottom: 0.7em;
            width: 50%;
        }
        
/* Réservation paragraphe */

        & .reservation p
        {
            font-size: 1.1em;
            padding-bottom: 0.7em;
        }

/* Image menu */
        
        & .image img
        {
            object-fit: cover;
            padding-top: 1em;
            height: 18em;
            width: 100%;      
        } 
    }
}

/* Partie Fonctionnement */

@media screen and (min-width: 1025px) and (max-width: 1300px)
{

    .fonctionnement
    {    
        margin-top: 2em;
        margin-bottom: 2em;
        & h2
        {
            padding-top: 1em;
            padding-left: 0.8em;
        }

/* Fonctionnement Menu */    

        & .contenu-fct
        {
            display: flex;
            justify-content: space-around;    
            align-items: center;  
            padding-top: 1em;
        }

/* Menu Choisir */    

        & .choisir
        {
            display:flex;
            align-items: center;
            background: $background-color;
            border-radius: 1.4em;
            margin-bottom: 1.5em;
            box-shadow: 0 0 0.6em 0.2em $grey;
            padding: 1.5em 5.5em 1.5em 1.5em;
        }

/* Menu Composer */  

        & .composer
        {
            display:flex;
            align-items: center;
            background: $background-color;
            border-radius: 1.4em;
            margin-bottom: 1.5em;
            box-shadow: 0 0 0.6em 0.2em $grey;
            padding: 1.5em 5.5em 1.5em 1.5em;
        }

/* Menu choisir */  

        & .deguster
        {
            display:flex;
            align-items: center;
            background: $background-color;
            border-radius: 1.4em;
            margin-bottom: 1.5em;
            box-shadow: 0 0 0.6em 0.2em $grey;
            padding: 1.5em 5em 1.5em 0.2em;
        }

/* Paragraghe Menu */ 

        & .contenu-fct p
        {
            font-weight: normal;
        }

/* Logo Menu */ 

        & .fas
        {
            padding: 0 1em 0 1em;
        }

/* Nombre Menu */ 

        & .nombre
        {
            background: $primary-color;
            border-radius: 50%;
            padding: 0.5em 0.7em ;
            margin-right: 0.8em;
            margin-left: -1rem;
            color:$white;
        }

/* Nombre Composer */ 

        & .composer .nombre
        {
            margin-left: -2.5em;
        }

/* Logo Mobile */ 
        
        .fa-mobile-alt
        {
            color:gray;
        }

/* Logo Triple Traits */ 

        .fa-list-ul
        {
            color:gray;
        }

/* Logo Boutique */ 

        .fa-store
        {
            color:$primary-color;
        }
    }
}

/* Partie Restaurants */ 

@media screen and (min-width: 1025px) and (max-width: 1300px)
{
    .restaurants
    {
        display: flex;
        flex-direction: column;
        background: $background-color;
        padding-bottom: 3em;
        padding-top: 1em;

    /* Titre Restaurants */ 

        & h2
        {
            padding-top: 1em;
            padding-left: 0.8em;
            padding-bottom: 2em;
        }

    /* Les Divers Menus */ 

        & .divers-menu
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    /* Ancre du Menu La Palette du goût */ 

        & .menu-la-palette-du-gout a
        {
            display: flex;
            flex-direction: column;
            position: relative;
            text-decoration: none;
            color: $black;
            margin-bottom: 3em;
        }

    /* Image du Menu La Palette du Goût */

        & .menu-la-palette-du-gout img
        {
            display: flex;
            width: 80em;
            border-radius: 1em 1em 0 0;
            object-fit:cover;
        }

    /* Ancre du Menu La Note Enchantée */

        & .menu-la-note-enchantee a
        {
            display: flex;
            flex-direction: column;
            position: relative;
            text-decoration: none;
            color: $black;
            margin-bottom: 3em;
        }

    /* Image du Menu La Note Enchantée */

        & .menu-la-note-enchantee img
        {
            display: flex;
            width: 80em;
            border-radius: 1em 1em 0 0;
            object-fit:cover;
        }

    /* Ancre du Menu A la Française */

        & .menu-a-la-francaise a
        {
            display: flex;
            flex-direction: column;
            position: relative;
            text-decoration: none;
            color: $black;
            margin-bottom: 3em;
        }

    /* Image du Menu A la Française */

        & .menu-a-la-francaise img
        {
            display: flex;
            width: 80em;
            border-radius: 1em 1em 0 0;
            object-fit:cover;
        }

    /* Ancre du Menu Le Délice des Sens */

        & .menu-le-delice-des-sens a
        {
            display: flex;
            flex-direction: column;
            position: relative;
            text-decoration: none;
            color: $black;
            margin-bottom: 3em;
        }

    /* Image du Menu Le Délice des Sens */

        & .menu-le-delice-des-sens img
        {
            display: flex;
            width: 80em;
            border-radius: 1em 1em 0 0;
            object-fit:cover;
        }

    /* Image des Menus */

        & img
        {
            object-fit:cover;
            width: 100%;
            height: 15em;       
        }

    /* Texte + Coeur */

        & .texte-coeur
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            background-color: $white;
            border-radius: 0 0 1em 1em;
            box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
        }

    /* Paragraphe Nouveau */

        & .nouveau
        {
        background-color: $tertiary-color;
        font-weight: bold;
        color: darken($tertiary-color, 40%);
        position: absolute;
        right: 2em;
        top: 1em;
        padding: 0.7em;
        border-radius: 5px;    
        }
    }
}