header
{
    padding: 0;
    margin: 0;

/* logo */

    & .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1.5em;
        margin-bottom: 0.5em;          
    }
    & .logo img
    {
        height: 45px;
    }

/* Flèche retour */

    & .fa-arrow-left
    {
        color:$black;
        font-size: 2em;
        position: absolute;
        top: 1em;
        left: 6em;
    }

/* Lieu */

    & .lieu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $grey;
        margin-top: 2em;
        height: 8em;
        width: 100%;
        box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.3);
    }

/* Icone lieu */

    & .fa-map-marker-alt
    {
        margin-right: 1.2em;
    }

/* Paragraphe lieu */

    & .lieu p
    {
        font-size: 1.5em;
    }

/* Réservation */

    & .reservation
    {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        background: $background-color;
        width: 100%;
        padding-top: 1.5em;
        padding-bottom: 3em;
    }
    
/* Réservation titre */

    & .reservation h2
    {
        font-size: 2em;
        padding-bottom: 0.7em;
        width: 50%;
    }
    
/* Réservation paragraphe */

    & .reservation p
    {
        font-size: 1.2em;
        padding-bottom: 0.7em;
    }

/* Image menu */
    
    & .image img
    {
        object-fit: cover;
        padding-top: 1em;
        height: 20em;
        width: 100%;      
    }  
}

/* Média Queries */

/* Desktop */

/* Ecrans entre 1025 px et 1300 px */

/* En-tête */

@media screen and (min-width: 1025px) and (max-width: 1300px)
{
    header
    {
        padding: 0;
        margin: 0;

/* logo */

        & .logo
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1.5em;
            margin-bottom: 0.5em;          
        }
        & .logo img
        {
            height: 45px;
        }

/* Flèche retour */

        & .fa-arrow-left
        {
            color: $black;
            font-size: 2em;
            position: absolute;
            top: 1em;
            left: 9em;
        }

/* Lieu */

        & .lieu
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $grey;
            margin-top: 2em;
            height: 4em;
            width: 100%;
            box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.3);
        }

/* Icone lieu */

        & .fa-map-marker-alt
        {
            margin-right: 1.2em;
        }

/* Paragraphe lieu */

        & .lieu p
        {
            font-size: 1.5em;
        }

/* Réservation */

        & .reservation
        {
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            background: $background-color;
            width: 100%;
            padding-top: 1.5em;
            padding-bottom: 3em;
        }
        
/* Réservation titre */

        & .reservation h2
        {
            font-size: 1.8em;
            padding-bottom: 0.7em;
            width: 50%;
        }
        
/* Réservation paragraphe */

        & .reservation p
        {
            font-size: 1.1em;
            padding-bottom: 0.7em;
        }
    }
}

/* Tablette */

/* Ecrans entre 769 px et 1024 px */

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    header
    {
        padding: 0;
        margin: 0;

/* logo */

        & .logo
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1.5em;
            margin-bottom: 0.5em;          
        }
        & .logo img
        {
            height: 45px;
        }

/* Flèche retour */

        & .fa-arrow-left
        {
            color: $black;
            font-size: 2em;
            position: absolute;
            top: 1em;
            left: 4em;
        }

/* Lieu */

        & .lieu
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $grey;
            margin-top: 2em;
            height: 4em;
            width: 100%;
            box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.3);
        }

/* Icone lieu */

        & .fa-map-marker-alt
        {
            margin-right: 1.2em;
        }

/* Paragraphe lieu */

        & .lieu p
        {
            font-size: 1.5em;
        }

/* Réservation */

        & .reservation
        {
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            background: $background-color;
            width: 100%;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }
        
/* Réservation titre */

        & .reservation h2
        {
            font-size: 1.6em;
            padding-bottom: 0.7em;
            width: 50%;
        }
        
/* Réservation paragraphe */

        & .reservation p
        {
            font-size: 1.1em;
            padding-bottom: 0.7em;
        }
    }
}

/* Mobile */

/* Ecrans en-dessous de 768 px */

@media screen and (max-width: 768px)
{
    header
    {
        padding: 0;
        margin: 0;

/* logo */

        & .logo
        {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 1.5em;
            margin-bottom: 0.5em;          
        }
        & .logo img
        {
            height: 40px;
        }

/* Flèche retour */

        & .fa-arrow-left
        {
            color: $black;
            font-size: 2em;
            position: absolute;
            top: 0.9em;
            left: 1em;
        }

/* Lieu */

        & .lieu
        {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $grey;
            margin-top: 2em;
            height: 4em;
            width: 100%;
            box-shadow: 0px -3px 1px 0px rgba(0, 0, 0, 0.3);
        }

/* Icone lieu */

        & .fa-map-marker-alt
        {
            margin-right: 1.2em;
        }

/* Paragraphe lieu */

        & .lieu p
        {
            font-size: 1.4em;
        }

/* Réservation */

        & .reservation
        {
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            background: $background-color;
            width: 100%;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
        }
        
/* Réservation titre */

        & .reservation h2
        {
            font-size: 1.5em;
            padding-bottom: 0.7em;
            width: 55%;
        }
        
/* Réservation paragraphe */

        & .reservation p
        {
            font-size: 1.2em;
            padding-bottom: 0.7em;
        }
    }
}