/*Menu */

.menu
{
    background-color: $grey;
    display: flex;
    padding-top: 2em;
    padding-bottom: 9em;
    
    & .titre 
    {             
        width: 100%;
        position: absolute;
        top: 21em;
        & h1
        {
            background-color: $grey;          
            padding: 0.7em; 
            border-radius: 2em 2em 0 0 ;
            padding-left: 18em;
        }    
        & .coeur
        {
            position: absolute;
            top: 2em;
            right: 20em;
            
        }    
    }   
    & .les-cartes
    {              
        padding: 0;
        
        & h2
        {
            margin-left: 0.8em;
            padding-bottom: 1em;
            padding-top: 1em;
        }
        & .carte
        {    
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 25em;
            margin-left: 0.8em;                  
            background-color: $white;
            margin-bottom: 1em;
            padding: 1em;
            border-radius: 1em;
            box-shadow: 0 0.3em 0.8em 0.1em $black;      
            cursor: pointer;

            & .contenu-carte
            {
            display: flex;
            justify-content: space-between;
            width: 100%;                  

                & .texte
                {
                    padding-right: 0;
                    
                    & h3
                    {
                        margin-bottom: 0.5em;                            
                    }
                    & p
                    {
                        font-size: 1em;
                    }
                }
                & .prix
                {
                    display: flex;  
                    align-items: flex-end; 
                }
            }
            & .choix
            {
                background-color:$tertiary-color;
                display: flex;      
                justify-content: flex-end;  

                & .fas
                {
                    transform: rotate(0deg);
                }
            }
        }
    }    
}

/* Média Queries */

/* Desktop */

/* Ecrans entre 1025 px et 1350 px */

/* Menu */

@media screen and (min-width: 1025px) and (max-width: 1350px)
{
    .menu
    {
    background-color: $grey;
    display: flex;
    padding-top: 2em;
    padding-bottom: 9em;

        & .titre 
        {             
            width: 100%;
            position: absolute;
            top: 21em;
            & h1
            {
                background-color: $grey;          
                padding: 0.7em; 
                border-radius: 2em 2em 0 0 ;
                padding-left: 13em;
            }    
            & .coeur
            {
                position: absolute;
                top: 2em;
                right: 20em;
            }    
        }   
        & .les-cartes
        {              
            padding: 1.5em;
            width: 100%;
            
            & h2
            {
                margin-left: 0.8em;
                padding-bottom: 1em;
                padding-top: 1em;
            }
            & .carte
            {    
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-left: 0.8em;                  
                background-color: $white;
                margin-bottom: 1em;
                padding: 1em;
                border-radius: 1em;
                box-shadow: 0 0.3em 0.8em 0.1em $black;      
                cursor: pointer;
    
                & .contenu-carte
                {
                width: 100%;  
                padding: 0em 5em 0em 5em;               
    
                    & .texte
                    {
                        padding-right: 0;
                        
                        & h3
                        {
                            margin-bottom: 0.5em;                            
                        }
                        & p
                        {
                            font-size: 1em;
                        }
                    }
                    & .prix
                    {
                        display: flex;  
                        align-items: flex-end; 
                    }
                }
                & .choix
                {
                    background-color:$tertiary-color;
                    display: flex;      
                    justify-content: flex-end;  
                }
            }
        }    
    }
}

/* Tablette */

/* Ecrans entre 769 px et 1024 px */

/* Menu */

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .menu
    {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 9em;
    
        & .titre 
        {             
            width: 100%;
            position: absolute;
            top: 21em;
            & h1
            {
                background-color: $grey;          
                padding: 0.7em; 
                border-radius: 2em 2em 0 0 ;
                padding-left: 10em;
            }    
            & .coeur
            {
                position: absolute;
                top: 2em;
                right: 10em;
            }   
        }   
        & .les-cartes
        {              
            padding: 0;
            
            & h2
            {
                margin-left: 0.8em;
                padding-bottom: 1em;
                padding-top: 1em;
            }
            & .carte
            {    
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 25em;
                margin-left: 0.8em;                  
                background-color: $white;
                margin-bottom: 1em;
                padding: 1em;
                border-radius: 1em;
                box-shadow: 0 0.3em 0.8em 0.1em $black;      
                cursor: pointer;
    
                & .contenu-carte
                {
                display: flex;
                justify-content: space-between;
                width: 100%;                  
    
                    & .texte
                    {
                        padding-right: 0;
                        
                        & h3
                        {
                            margin-bottom: 0.5em;                            
                        }
                        & p
                        {
                            font-size: 1em;
                        }
                    }
                    & .prix
                    {
                        display: flex;  
                        align-items: flex-end; 
                    }
                }
                & .choix
                {
                    background-color:$tertiary-color;
                    display: flex;      
                    justify-content: flex-end;  
                }
            }
        }    
    }
}

/* Mobile */

/* Ecrans en-dessous de 768 px */

/* Menu */

@media screen and (max-width: 768px)
{
    .menu
    {
    background-color: $grey;
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 9em;
    
        & .titre 
        {             
            width: 100%;
            position: absolute;
            top: 21em;
            & h1
            {
                background-color: $grey;          
                padding: 0.7em; 
                border-radius: 2em 2em 0 0 ;
                padding-left: 1em;
            }    
            & .coeur
            {
                position: absolute;
                top: 2em;
                right: 3em;
            }   
        }   
        & .les-cartes
        {              
            padding: 0;
            
            & h2
            {
                margin-left: 0.8em;
                padding-bottom: 1em;
                padding-top: 1em;
            }
            & .carte
            {    
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 25em;
                margin-left: 0.8em;                  
                background-color: $white;
                margin-bottom: 1em;
                padding: 1em;
                border-radius: 1em;
                box-shadow: 0 0.3em 0.8em 0.1em $black;      
                cursor: pointer;
    
                & .contenu-carte
                {
                display: flex;
                justify-content: space-between;
                width: 100%;                  
    
                    & .texte
                    {
                        padding-right: 0;
                        
                        & h3
                        {
                            margin-bottom: 0.5em;                            
                        }
                        & p
                        {
                            font-size: 1em;
                        }
                    }
                    & .prix
                    {
                        display: flex;  
                        align-items: flex-end; 
                    }
                }
                & .choix
                {
                    background-color:$tertiary-color;
                    display: flex;      
                    justify-content: flex-end;  
                }
            }
        }    
    }
}
