/*Menu */

.menu
{
   @include menu;
   max-width: 3000px;
    
    & .titre 
    {             
        @include position;
        & h1
        {
            @include h1;
            padding-left: 1em;
            padding-top: 0.9em;
        }    
        & .coeur
        {
            position: absolute;
            top: 1.4em;
            right: 0;
        }    
    }
    & .menu-la-note-enchantee 
    {
        padding-bottom: 6em;
    }
    
    & .les-cartes
    {              
        margin: auto;        
        
        & h2
        {
            @include h2;
        }
        & .carte
        {    
            @include carte;
            width: 24em;                 
           
            & .contenu-carte
            {
            display: flex;
            justify-content: space-between;
            width: 100%;                  

                & .texte
                {
                    padding-right: 0;
                    
                    & h3
                    {
                        margin-bottom: 0.5em;                            
                    }
                    & p
                    {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

/* Média Queries */

/* Desktop */

/* Ecrans entre 1025 px et 1350 px */

/* Menu */

@media screen and (min-width: 1025px) and (max-width: 1350px)
{
    .menu
    {
    @include menu;
    flex-direction: column;
    justify-self: center;
    
        & .titre 
        {             
            @include position;
            & h1
            {
                @include h1;
                padding-left: 1em;
                padding-top: 1.2em;
            }    
            & .coeur
            {
                position: absolute;
                top: 2em;
                right: 0;
            }    
        }   
        & .les-cartes
        {              
            padding: 1em;
            margin: 0;
                        
            & h2
            {
                @include h2;
            }
            & .carte
            {    
                @include carte;
                width: auto;                    
    
                & .contenu-carte
                {
                display: flex;
                justify-content: space-between;                        
    
                    & .texte
                    {
                        padding-right: 0;
                        
                        & h3
                        {
                            margin-bottom: 0.5em;                            
                        }
                        & p
                        {
                            font-size: 1em;
                        }
                    }
                }
            }   
        }    
    }
}

/* Tablette */

/* Ecrans entre 769 px et 1024 px */

/* Menu */

@media screen and (min-width: 769px) and (max-width: 1024px)
{
    .menu
    {
    @include menu;
    flex-wrap: wrap;
    flex-direction: column;
    
        & .titre 
        {             
            @include position;
            & h1
            {
                @include h1;
                padding-left: 1em;
                padding-top: 1.2em;
            }    
            & .coeur
            {
                position: absolute;
                top: 2em;
                right: 0;
            }    
        }   
        & .les-cartes
        {              
            padding: 0;
            margin: 0;
            
            & h2
            {
                margin-left: 1.7em;
                @include h2;
            }
            & .carte
            {    
                @include carte;
                width: auto;
                margin-left: 2em;          
                margin-right: 2em;
    
                & .contenu-carte
                {
                display: flex;
                justify-content: space-between;
                width: 100%;                  
    
                    & .texte
                    {
                        padding-right: 0;
                        
                        & h3
                        {
                            margin-bottom: 0.5em;                            
                        }
                        & p
                        {
                            font-size: 1em;
                        }
                    }
                }
            }
        }    
    }
}

/* Mobile */

/* Ecrans entre 380 px et 768 px */

/* Menu */

@media screen and (min-width: 380px) and (max-width: 768px)
{
    .menu
    {
    @include menu;
    flex-direction: column;
    
        & .titre 
        {             
            @include position;
            & h1
            {
                @include h1;
                padding-left: 1em;
                padding-top: 1.2em;
            }    
            & .coeur
            {
                position: absolute;
                top: 2em;
                right: 0;
            }    
        }   
        & .les-cartes
        {              
            padding: 0;
            margin: 0;
            
            & h2
            {
                margin-left: 0.8em;
                @include h2;
            }
            & .carte
            {    
                @include carte;
                width: auto;
                margin-left: 0.8em;                  
                margin-right: 1em;
    
                & .contenu-carte
                {
                display: flex;
                justify-content: space-between;
                width: 100%;                  
    
                    & .texte
                    {
                        padding-right: 0;
                        
                        & h3
                        {
                            margin-bottom: 0.5em;                            
                        }
                        & p
                        {
                            font-size: 1em;
                        }
                    }
                }
            }
        }    
    }
}

/* Mini-Mobile */

/* Ecrans entre 300 px et 379 px */

/* Menu */

@media screen and (min-width: 300px) and (max-width: 379px)
{
    .menu
    {
    @include menu;
    flex-direction: column;
    
        & .titre 
        {             
            @include position;
            & h1
            {
                @include h1;
                padding-left: 0.5em;
                padding-top: 1.8em;
                font-size: 1.3em;
            }    
            & .coeur
            {
                position: absolute;
                top: 2em;
                right: 0;
            }    
        }   
        & .les-cartes
        {              
            padding: 0;
            margin: 0;
            
            & h2
            {
                margin-left: 0.8em;
                @include h2;
            }
            & .carte
            {    
                @include carte;
                width: auto;
                margin-right: 0.5em;    
                margin-left: 0.5em;         
    
                & .contenu-carte
                {
                display: flex;
                justify-content: space-between;
                width: 100%;              
    
                    & .texte
                    {
                        padding-right: 0;
                        
                        & h3
                        {
                            margin-bottom: 0.5em;  
                            font-size: 0.8em;                          
                        }
                        & p
                        {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }    
    }
}
