/* Animations */

/* Chargement + Spinner */

.spinner
{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $grey;
  z-index: 2;
  display: flex;
  animation-name: invisible, fin;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.chargement
{
  display: flex;
  padding-left: 30%;
  margin-left: 25%;
  position: fixed;
  margin-top: 250px;
  margin-bottom: 100px;
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-color: $secondary-color $primary-color $tertiary-color;
  border-radius: 50%;
  animation: chargement 4s linear infinite;
}

@keyframes chargement
{
  0%{
    transform: rotate(0deg) scale(1);
    border-color: $secondary-color $primary-color $tertiary-color;
  }
  25%{
    border-color: $secondary-color $primary-color $tertiary-color;
  }
  50% {
    transform: rotate(360deg) scale(1.15);
    border-color: $secondary-color $primary-color $tertiary-color;
  }
  75%{
    border-color: $secondary-color $primary-color $tertiary-color;
  }
  100%{
    transform: rotate(720deg) scale(1);
    border-color: $secondary-color $primary-color $tertiary-color;
  }
}

@keyframes invisible
{
  from
  {
    opacity: 1;
  }
  to
  {
    opacity: 0;
  }
}

@keyframes fin 
{
  from 
  {
    visibility: visible;
  }
  to 
  {
    visibility: hidden;      
  }
}

/* Apparition menus */

.anim-duration-3
{
  animation-name: apparition-menu;
  animation-duration: 3s;
}

@keyframes apparition-menu
{
    0% 
    {
      opacity: 0;
      transform: translateY(50px);
    }
    100% 
    {
      opacity: 1;
      transform: translateY(0);
    }
}

.anim-duration-4
{
  animation-name: apparition-menu;
  animation-duration: 4s;
}

@keyframes apparition-menu
{
    0% 
    {
      opacity: 0;
      transform: translateY(50px);
    }
    100% 
    {
      opacity: 1;
      transform: translateY(0);
    }
}

.anim-duration-5
{
  animation-name: apparition-menu;
  animation-duration: 5s;
}

@keyframes apparition-menu
{
  0% 
  {
    opacity: 0;
    transform: translateY(50px);
  }
  100% 
  {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Selection d'un plat */

.carte:hover h3, .carte:active h3, .carte:focus h3
{
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carte:hover .choix
{
  color: $white;
  padding: 1em;
}

.carte .fas:hover
{
  transform: rotate(720deg);
  transition: 1s ;
}


