/* Animations */

/* Chargement + Spinner */

.spinner
{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: $grey;
  z-index: 2;
  display: flex;
  justify-content: center;
  animation-name: invisible, fin;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.chargement
{
  display: flex;
  padding-left: 25%;
  position: fixed;
  margin-top: 220px;
  margin-bottom: 100px;
  border: 16px solid #bdc3c7;
  width: 120px;
  height: 120px;
  border-color: $secondary-color $primary-color $tertiary-color;
  border-radius: 50%;
  animation: chargement 4s linear infinite;
}

/* Apparition menus */

.anim-duration-3
{
  animation-name: apparition-menu;
  animation-duration: 3s;
}

.anim-duration-4
{
  animation-name: apparition-menu;
  animation-duration: 4s;
}

.anim-duration-5
{
  animation-name: apparition-menu;
  animation-duration: 5s;
}

/* Selection d'un plat */

.carte:hover h3 ,.carte:hover .texte p, .carte:active h3, .carte:active .texte p, .carte:focus h3, .carte:focus .texte p
{
  width: 85%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.carte
{  
  height: 3em;
  
  &:hover
  {
    &:hover .prix 
    {
      transform: translate(-20px);
    }
    & > .choix
    {
      transform: scale(1);
      color: $white;
      padding: 0.5em;

      & > .fas
      {
        transform: rotate(0);
      }
    }
    & > .prix
    {
      transform: translate(0);
    }
  }
  
  .prix
  {    
    padding-top: 2em;
    transform: translate(25px);
    font-weight: bold;
  }
  .choix
  {
    border-radius: 0 1em 1em 0;
    background-color: $tertiary-color;
    transform: scaleX(0);
    transform-origin: right;
    width: 60px;
    margin: -16px;
    padding: 0.5em;
    transition: transform 0.8s;
  }
  .fa-check-circle
  {
    color: $white;
    padding: 0.5em;
    font-size: 2em;
    transform: rotate(360deg);
    transition: transform 500ms;
  }
}
