/* Coeur Accueil */

.coeur-vide
{    
  position: absolute;
  right: 30px;
  bottom: 25px;
  z-index: 1;
  transition: opacity 1s;
  cursor: pointer;

  &:hover
  {
    opacity: 0;

    &:hover + .coeur-plein 
    {
      animation: coeur 1s ease-in-out forwards;
    }
  }  
}
.coeur-plein
{
  background: $background;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0; 
  position: absolute;
  bottom: 25px;
  right: 30px;
  cursor: pointer;
}

/* Coeur Menu */

.coeur .menu
{    
  position: absolute;
  top: -2em;
  right: 30px;
  background-color: transparent;
}
